body
{
    background: linear-gradient(to bottom right, limegreen, white);
}

.navbar h1
{
    color: red;
    font-family: fantasy;
    display: inline;
    font-size: 6em;
}

.navbar h2
{
    font-family: fantasy;
    color: deepskyblue;
    display: inline;
    font-size: 4em;
    margin: 0px;
}

.tab-content
{
    width: 90%;
    margin: 0 auto;
}

.navbar.btn
{
    color: white;
}

.col-pics
{
}
.col-pics img
{
    width: 60%;
    margin: 10% auto;
}

.colTab
{
    overflow: auto;
    height: 400px;
    margin: 2% auto;
    color: deeppink;
}


.icon-bar
{
    background-color: white;
}

.topics
{
    width: 90%;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    overflow: auto;
    margin: 5% auto;
}

.btn
{
    border: 1px solid white;
    border-radius: 10%;
    background-color: deeppink;
    color: white;
    margin: 4% auto;
    float: right;
}

.glyphicon-user
{
    color: blue;
}

.welcome
{
    text-align: center;
    color: deeppink;
    font-size: 2em;
    font-family: fantasy;
}

#msg
{
    font-family: fantasy;
    font-size: 1.5em;
    color: red;

}